<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- Site Metas -->
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <title>Duy Đạt</title>


    <!-- bootstrap core css -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- progress barstle -->
    <link href="css/css-circular-prog-bar.css" rel="stylesheet">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- Custom taskbar for this template -->
    <link href="css/taskbar.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet"/>


    <link href="css/css-circular-prog-bar.css" rel="stylesheet">


</head>

<body class="sub_page">
<div class="top_container ">
    <!-- header section strats -->
    <header th:replace="fragments/header :: header"></header>
</div>
<!-- end header section -->

<div class="common_style">

    <!-- about section -->
    <section class="about_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img-container">
                        <img alt="" src="images/about.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_detail-box">
                        <h3>
                            Về chúng tôi
                        </h3>
                        <p>
                            Duy Đạt Là nhà tiên phong mang lại nền tảng Anh ngữ Học thuật với hơn 15 năm kinh nghiệm
                            trong lĩnh vực đào tạo tiếng Anh và luyện thi Toeic tại Viêt Nam. Tại đây, chúng tôi luôn
                            tâm niệm rằng học viên học tiếng Anh không chỉ là học một ngôn ngữ mới, mà còn học cách tư
                            duy, khai phá kiến thức, học kỹ năng mềm và vốn sống để tự tin hòa nhập môi trường học tập
                            và thành công trong môi trường làm việc toàn cầu.<br><br>

                            Duy Đạt được quản lý bởi Duy Đạt Education Group, tổ chức giáo dục có trụ sở chính tại Hà
                            Nôi và sẽ có mặt tại hơn 5 nước và vùng lãnh thổ sử dụng tiếng Anh là ngôn ngữ chính trên
                            toàn cầu. Duy Đạt chuyên cung cấp các dịch vụ tư vấn du học, giảng dạy tiếng Anh cũng như
                            đồng sở hữu và hướng tới tổ chức kỳ thi Toeic tại Việt Nam.<br><br>
                            Duy Đạt tự hào là đơn vị tiên phong trong việc đưa học sinh Việt Nam ra nước ngoài giao lưu
                            và tiếp nhận Du học sinh nước ngoài vào Việt Nam học tập, nghiên cứu. Phối hợp với các cơ
                            quan đại diện nước ngoài tại Việt Nam thúc đẩy giao lưu văn hóa, trao đổi giáo viên tình
                            nguyện.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- end about section -->


</div>


<!-- end contact section -->
<section class="info_section layout_padding-top">
    <div class="info_logo-box">
        <h2>
            Duy Đạt
        </h2>
    </div>
    <div class="container layout_padding2">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    Về chúng tôi
                </h5>
                <p>
                    Trang web giáo dục tiếng anh tốt nhất
                </p>
            </div>
            <div class="col-md-3">
                <h5>
                    Liên kết hữu ích
                </h5>
                <ul>
                    <li>
                        <a th:href="@{#}">
                            Video trò chơi
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>
                    Liên hệ chúng tôi
                </h5>
                <p>
                    <a style="color: white;" th:href="@{/contact}">Liên hệ</a>
                </p>
            </div>
            <div class="col-md-3">

                <div class="subscribe_container">
                    <h5>
                        Bản tin
                    </h5>
                    <div class="form_container">
                        <form action="">
                            <input placeholder="Nhập email của bạn" type="email">
                            <button type="submit">
                                Đặt mua
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="social_container">

            <div class="social-box">
                <a th:href="@{#}">
                    <img alt="" src="images/fb.png">
                </a>

                <a th:href="@{#}">
                    <img alt="" src="images/twitter.png">
                </a>
                <a th:href="@{#}">
                    <img alt="" src="images/linkedin.png">
                </a>
                <a th:href="@{#}">
                    <img alt="" src="images/instagram.png">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        Bản quyền &copy; 2024 Mọi quyền được bảo lưu
    </p>
</section>
<!-- footer section -->

<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>


</body>

</html>