<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>BaiThi</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="/css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- Custom taskbar for this template -->
  <link href="/css/taskbar.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <link href="/css/Thi.css" rel="stylesheet" />
  <link href="/css/BaiHoc.css" rel="stylesheet" />




  <link rel="stylesheet" href="/css/css-circular-prog-bar.css">
  
  
  
  <script
	src="/js/jquery-1.js"></script>
  <script
	src="/js/baiTestReading.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	


<script type="text/javascript">
	$(document).ready(function() {

	});
</script>


</head>

<body class="sub_page">
  <div class="top_container ">
    <!-- header section strats -->
	  <header th:replace="fragments/header :: header"></header>
  </div>
  <!-- end header section -->

  <div id="resutlTest">
		<div id="content" class="container-fluid fill ">
			
				
			
				<h2 class="ntitle">[[${baiHoc.title}]]</h2>
				<!--Nội dung bài test -->
				<div  class="nlistbaithi">
						
						<div th:object="${baiHoc}">
							

							<div class="ncontent">
								<p class="nkt">	
									<b>[[*{title1}]] </b>
								</p>
								<br>
								[[*{content1}]]
							</div>
							<div class="ncontent">
								<p class="nkt">	
									<b>[[*{title2}]] </b>
								</p>
								<br>
								[[*{content2}]]
							</div>
							<div class="ncontent">
								<p class="nkt">	
									<b>[[*{title3}]] </b>
								</p>
								<br>
								[[*{content3}]]
							</div>
							<div class="ncontent">
								<p class="nkt">	
									<b>[[*{title4}]] </b>
								</p>
								<br>
								[[*{content4}]]
							</div>
							<br>
							
							
							<iframe width="888px" height="380px"
								th:src="${baiHoc.video}">
							</iframe>
								
						</div>


					</div>
				
			
		</div>
		</div>



  
  <!-- footer section -->

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>


</body>

</html>