<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <!-- Site Metas -->
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <title>English Examination | Khoá học</title>

    <!-- bootstrap core css -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- progress barstle -->
    <link href="/css/css-circular-prog-bar.css" rel="stylesheet">
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Custom taskbar for this template -->
    <link href="/css/taskbar.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet"/>
    <link href="/css/Thi.css" rel="stylesheet"/>
    <link href="/css/ListBaiHoc.css" rel="stylesheet"/>
    <link href="/css/css-circular-prog-bar.css" rel="stylesheet">

    <script
            src="/js/jquery-1.js"></script>
    <script
            src="/js/baiTestReading.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</head>

<body class="sub_page">
<div class="top_container ">
    <!-- header section strats -->
    <header th:replace="fragments/header :: header"></header>
</div>
<!-- end header section -->

<div id="resutlTest">
    <div class="container-fluid fill " id="content">
        <h2 class="ntitle">Choose a grammar lesson<a th:href="@{'/khoahoc/add'}" th:if="${session.role == '2'}"> +</a>
        </h2>
        <!--Nội dung bài test -->
        <div class="nlistbaithi">
            <div th:each=" baiHoc: ${listBaiHoc}" th:object="${baiHoc}">
                <!-- show part5 -->
                <a th:href="@{'/khoahoc/' + *{lessonId}}">
                    <b class="nkt">[[*{title}]] </b>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- footer section -->

<script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.js" type="text/javascript"></script>

</body>
</html>