<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <!-- Mobile Metas -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"/>
    <!-- Site Metas -->
    <meta content="" name="keywords"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <title>Thi</title>


    <!-- bootstrap core css -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <!-- progress barstle -->
    <link href="/css/css-circular-prog-bar.css" rel="stylesheet">
    <!-- fonts style -->
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap"
            rel="stylesheet">
    <!-- font wesome stylesheet -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- Custom taskbar for this template -->
    <link href="/css/taskbar.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet"/>
    <link href="/css/Thi.css" rel="stylesheet"/>


    <link href="/css/css-circular-prog-bar.css" rel="stylesheet">


    <script src="/js/jquery-1.js"></script>
    <script src="/js/baiTestReading.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"
            type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


</head>

<body class="sub_page">

<div class="top_container ">
    <!-- header section strats -->
    <header th:replace="fragments/header :: header"></header>
</div>
<!-- end header section -->

<div id="resutlTest">
    <div class="container-fluid fill " id="content">
        <form id="submitForm" method="post" name="submitForm" th:action="@{/thi/nopbai}" th:object="${baiThi}">
            <div class="row">
                <div class="col-md-3" id="navigation">

                    <div class="fix-scrolling">
                        <br>
                        <!-- <div >
                            <span id="timeReading">45:00</span>
                        </div> -->
                        <input th:field="${baiThi.examId}" type="hidden">
                        <div>
                            <span id="listch">Danh sách câu hỏi</span>
                        </div>
                        <div class="fitnumberCircle">
                            <b th:each=" cauHoi: ${baiThi.listCauHoi}" th:object="${cauHoi}">
                                <div class="numberCircle web-font" th:id="'answer'+*{index}">[[*{index}]]</div>

                            </b>
                        </div>
                        <hr width="100%">

                        <!-- <br> <input type="button" class="btn btn-primary"
                            id="btnResultReading" value="Chấm điểm"
                            onclick="clickResutlReading()" />  -->


                    </div>


                </div>

                <div class="col-md-3 ">
                    <!-- Placeholder - keep empty -->
                </div>

                <!--Nội dung bài test -->
                <div class="col-md-8 web-font" id="main">
                    <div class="ntitleq">Read the passage and choose the correct answer:</div>
                    <div class="ncontentq">[[${baiThi.content}]]</div>
                    <div th:each=" cauHoi,status: *{listCauHoi}" th:object="${cauHoi}">
                        <input id="correctanswer" th:name="|listCauHoi[${status.index}].correctanswer|"
                               th:value="${cauHoi.correctanswer}"
                               type="hidden"/>

                        <!-- show part5 -->


                        <div class="ncauhoi">
                            <p>
                                <b>Question [[*{index}]]: [[*{question}]] </b>
                            </p>


                            <input class="part5" onclick=" markColorReading(this.id) " th:id="'question.'+*{index}"
                                   th:name="|listCauHoi[${status.index}].cauTraLoi|" th:value="${cauHoi.option1}"
                                   type="radio"/> A. [[*{option1}]] <br>
                            <input class="part5" onclick="markColorReading(this.id)" th:id="'question.'+*{index}"
                                   th:name="|listCauHoi[${status.index}].cauTraLoi|"
                                   th:value="|listCauHoi[${status.index}].cauTraLoi|"
                                   type="radio"/> B. [[*{option2}]] <br>
                            <input class="part5" onclick="markColorReading(this.id)" th:id="'question.'+${cauHoi.index}"
                                   th:name="|listCauHoi[${status.index}].cauTraLoi|"
                                   th:value="${cauHoi.option3}"
                                   type="radio"/> C. [[*{option3}]] <br>
                            <input class="part5" onclick="markColorReading(this.id)" th:id="'question.'+${cauHoi.index}"
                                   th:name="|listCauHoi[${status.index}].cauTraLoi|"
                                   th:value="${cauHoi.option4}"
                                   type="radio"/> D. [[*{option4}]] <br>
                        </div>
                        <br>


                    </div>


                    <hr>
                    <p>Kết thúc bài Thi</p>

                </div>


            </div>

            <input class="btn btn-danger" id="btnSubmitReading" type="submit" value="Nộp bài"/>
        </form>
    </div>

</div>


<!-- footer section -->

<script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>


</body>

</html>